.faq 
  %h3 How do I take screenshot on my iPhone? 
  %h4 Simultaneously hold down the Home and Sleep/Wake buttons, then release them together.

  %h3 Is there another way to submit my screenshots?
  %h4 
    Yes. Email the screenshot as an attachment to 
    = mail_to Settings.attachment_email
    %span.dot .

  %h3 May I post any screenshot I like?
  %h4 Please post only iPhone screenshots of Siri conversations. Keep it clean!