%p 
  Unfortunately, there was no attachment associated with your email to 
  = link_to('sirihumor.me', 'sirihumor.me')
%p
  Please send a new email with a funny Siri screenshot.

%p
  = "---"
  %br
  The sirihumor.me Team