%ol.email-instructions
  %li To take a screenshot on your iPhone, simultaneously hold down the Home and Sleep/Wake buttons, then release them together.
  %li 
    Email the screenshot as an attachment to 
    = mail_to Settings.attachment_email
    %span.dot .