.show
  %h2 Well done! You successfully uploaded your Siri screenshot.
  %h3 
    Now you can
    = link_to('add another', new_post_url)
    or
    = link_to('go back', root_url)
    %span.dot .

    